

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-0">
      <!-- Contenu de la barre de navigation -->
      <div class="h-100 d-flex align-items-start navbar navbar-expand-lg navbar-light bg-light custom-navbar shadow-lg p-3 bg-body-tertiary rounded">
       <app-navbar></app-navbar>
      </div>
    </div>
    <div class="col-md-9">
      <!-- Contenu de la page "home" -->
      <div class="d-flex flex-wrap">
        <app-details-produits [product]="listPoissons" [name]="nom"></app-details-produits>
      </div>
    </div>
  </div>
</div>
