<br>
<h2>{{name}}</h2>
<!--<button type="button" class="btn btn-outline-success" id="btn-sendAll" >Envoyer Données</button> -->
<br>
<div class="container-lg m-0 p-0">
  <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table" id="app-table">
    <thead class="table">
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Sale</th>
        <th>Stock</th>
        <th>Commentaires</th>
        <th>Ajouter/Enlever Articles</th>
        <th>Modifier Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of product; let i = index" >
        <td>{{ p.name }}</td>
        <td>{{ p.price}}</td>
        <td>{{ p.discount}}</td>
        <td>{{ p.quantityInStock }}</td>
        <td>{{ p.comments }}</td>
        <td>
          <input style="outline: none;" class="small-input" (input)="checkInput(p.name,i)" type="number" [(ngModel)]="product[i].nb_modifie" id="{{p.name}}">
          <p></p>
          <button type="button" class="btn btn-outline-success" (click)="modifierStock(i)" >Envoyer</button>
        </td>
        <td>
          <input style="outline: none;" type="number" class="small-input" [(ngModel)]="product[i].discount_modifie">
          <p></p>
          <button type="button" class="btn btn-outline-success" (click)="modifierDiscount(i)">Envoyer</button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
