.title{
  color: rgb(71, 75, 73);
  display: flex;
  justify-content: center; /* Centre horizontalement */
  text-align:center
}


.btn{
  width: 200px;
}

.small-input{
  width: 200px;
  height: 30px;
}

#btn-sendAll{
  width: 200px;
}

