<div class="d-flex flex-wrap">
  <div class="col-sm-4">
    <div class="card support-bar overflow-hidden">
      <div class="card-body pb-0">
        <h2 class="m-0">????</h2>
        <span class="text-c-blue">Poissons</span>
        <p class="mb-3 mt-3">Les chiffres</p>
      </div>

      <div class="card-footer bg-primary text-white">
        <div class="row text-center">
          <div class="col">
            <h4 class="m-0 text-white">?????</h4>
            <span>Total</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">?????</h4>
            <span> Vendus</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">??????</h4>
            <span>Promotion %</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card support-bar overflow-hidden">
      <div class="card-body pb-0">
        <h2 class="m-0">????</h2>
        <span class="text-c-blue">Fruits de mer</span>
        <p class="mb-3 mt-3">Les chiffres</p>
      </div>

      <div class="card-footer bg-danger text-white">
        <div class="row text-center">
          <div class="col">
            <h4 class="m-0 text-white">????</h4>
            <span>Total</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">???</h4>
            <span> Vendus</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">????</h4>
            <span>Promotion %</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card support-bar overflow-hidden">
      <div class="card-body pb-0">
        <h2 class="m-0">????</h2>
        <span class="text-c-blue">Crustacés</span>
        <p class="mb-3 mt-3">Les chiffres</p>
      </div>

      <div class="card-footer bg-warning text-white">
        <div class="row text-center">
          <div class="col">
            <h4 class="m-0 text-white">????</h4>
            <span>Total</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">????</h4>
            <span> Vendus</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">????</h4>
            <span>Promotion %</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
